/* GlassMorphismCards.css */


.card {
    position: relative;
    width: 320px;
    height: 460px;
    margin: 40px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
    backdrop-filter: blur(5px);
}

.card#card1::before,
.card#card2::before,
.card#card3::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1.0; /* Adjust the opacity as needed */
  pointer-events: none;
  
}
.card#card1::before {
    background-image: url('./5.png'); /* Path to your vector image for card1 */
  }
  
  .card#card2::before {
    background-image: url('./Frame 23.png'); /* Path to your vector image for card2 */
  }
  
 .card#card3::before {
    background-image: url('./Frame 24.png'); /* Path to your vector image for card3 */
  }



 
  
.card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.card .content h2 {
    position: absolute;
    opacity: 0.2;
    top: -80px;
    right: 30px;
    font-size: 8em;
    pointer-events: none;
}



.card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}