.syne-fon {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .dropp-shadow {
    filter: drop-shadow( #FE3D4D 23px 15px 0px);
  }
  @media (max-width: 640px) {
    .dropp-shadow {
      filter: drop-shadow(#FE3D4D 11px 7.5px 0px);
    }
  }
  .footer{
    position: relative;
    width: 100%;
    /* top: 410vh; */
    bottom: 0px;
  }
